@model MyErrand

@{
    Layout = "_CoordinatorLayout";
    List<String> StatusCategories = new List<String>();
    List<String> DepartmentNames = new List<String>();
}

<h2>Ärenden</h2>
@await Component.InvokeAsync("LoggedIn")

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj avdelning:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                
                @foreach(MyErrand errand in ViewBag.ErrandList)
                {
                    if(!StatusCategories.Contains(errand.StatusName))
                    {
                        <option>@errand.StatusName</option>
                        StatusCategories.Add(errand.StatusName);
                    }
                }

            </select>
        </td>


        <td>
            <select name="department">
                <option selected="selected">Välj alla</option>

                @foreach(MyErrand errand in ViewBag.ErrandList)
                {
                    if (!DepartmentNames.Contains(errand.DepartmentName))
                    {
                        <option>@errand.DepartmentName</option>
                        DepartmentNames.Add(errand.DepartmentName);
                    }
                }

            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>

    @foreach(MyErrand errand in ViewBag.ErrandList)
    {
        <tr>
            <td>@errand.DateOfObservation.ToShortDateString()</td>
            <td><a asp-controller="Coordinator" asp-action="CrimeCoordinator" asp-route-id="@errand.ErrandId">@errand.RefNumber </a></td>
            <td>@errand.TypeOfCrime</td>
            <td>@errand.StatusName</td> 
            <td>@errand.DepartmentName</td>
            <td>@errand.EmployeeName</td>
        </tr>
    }
</table>